<!DOCTYPE html>
<html>
<head>
    <title>Martha & Ivan - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.easing.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.anythingslider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/knockout-1.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cufon-yui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cufon-replace.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/swiss.font.js")" type="text/javascript"></script>
</head>
<body>
    <table class="main">
        <tr>
            <td colspan="2" class="welcome">
                @Html.Partial("_LogOut")
            </td>
        </tr>
        <tr>
            <td>
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/Images/logo.png")" alt=""/>
                    </a>
                </div>
            </td>
            <td>
                <div class="menu">
                    <ul class="left">
                        <li class="@Html.Partial("_OnActiveLink", "Home")">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="@Html.Partial("_OnActiveLink", "About us")">@Html.ActionLink("About us", "About", "Home")</li>
                        <li class="@Html.Partial("_OnActiveLink", "Wedding")">@Html.ActionLink("Wedding", "Index", "Wedding")</li>
                    </ul>
                    <ul class="right">
                        <li class="@Html.Partial("_OnActiveLink", "Your wishes")">@Html.ActionLink("Your wishes", "YourWishes", "Wedding")</li>
                        <li class="@Html.Partial("_OnActiveLink", "Contact")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="@Html.Partial("_OnActiveLink", "Links")">@Html.ActionLink("Links", "About", "Home")</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content">
                @Html.Partial("_PhotoSlider")
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                Martha & Ivan Wedding © 2011
            </td>
        </tr>
    </table>
</body>
</html>
