<!DOCTYPE html>
<html>
<head>
    <title>Martha & Ivan Wedding - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/icon.gif")"/>
    <script src="@Url.Content("~/Content/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.easing.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.anythingslider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/knockout-1.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cufon-yui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cufon-replace.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/swiss.font.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22728064-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <table class="main">
        <tr>
            <td>
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/Images/logo.png")" alt=""/>
                    </a>
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>
