@model Wedding.Mvc.Models.UserData
@{
    ViewBag.Title = "Edit your info";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div id="user-page">
    @using (Html.BeginForm())
    {
        <div class="user">
            <h2 class="h2-margin">
                Edit your personal info</h2>
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="user-warning">
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user-label">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="user-warning">
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.FirstName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user-label">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="user-warning">
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.LastName)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" class="user-button" value="update" />
                    </td>
                </tr>
            </table>
            <br />
            <br />
            @Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "link-back" })
        </div>   
    }
</div>
