@{
    ViewBag.Title = "Home";
}
<div id="home-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Hola a todos!</h2>
        <div class="col-indent">
            Como saben para nosotros esta por comenzar una nueva etapa en nuestras vidas y queremos
            que sean parte de ella en la celebración del proximo 3 de Diciembre de 2011 en el
            mágico lugar de Riviera Maya,
        </div>
        <br />
        <div class="col-indent">
            A continuación encontraran datos memorables para nosotros, información de la ceremonia,
            hospedaje y sugerencias.
        </div>
        <br />
        <div class="col-indent">
            Esperamos que este sitio sea de gran ayuda para programar su viaje con tiempo porque
            aunque no lo crean, YA SOLO</div>
        @{
            var weddingDate = new DateTime(2011, 12, 3);
            var countDown = weddingDate.Subtract(DateTime.Now).Days;
        }
        <div class="countdown">
            <strong class="title1">faltan</strong> <strong class="title3">@countDown</strong>
            <strong class="title1">dias</strong>
        </div>
        <div class="col-indent">
            y queremos que nos acompañen en el día mas importante en nuestras vidas. GRACIAS!!
        </div>
        <br />
        <div class="col-indent">
            { Esten al pendiente de nuestras actualizaciones quincenales ya que subiremos más
            información de nuestro evento, esto es un pre comienzo... }
        </div>
        <br />
        @Html.ActionLink("nuestra historia", "About", "Home", null, new { @class = "link" })<br />
        @Html.ActionLink("info de la boda", "Index", "Wedding", null, new { @class = "link" })<br />
        @Html.ActionLink("ultimas noticias", "Index", "News", null, new { @class = "link" })<br />
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Tus deseos, Gracias!!</h2>
        @Html.Partial("_YourWishes")
        @Html.ActionLink("escribenos uno", "YourWishes", "Wedding", null, new { @class = "link", style = "margin-top:15px;" })
    </div>
</div>
